<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        h2 {
            text-align: center;
            margin-top: 30px;
        }

        .upload-form {
            margin: 0 auto;
            width: 70%;
        }

        .mb-3 {
            margin-bottom: 20px;
        }

        .custom-file-label {
            display: block;
            margin-bottom: 5px;
        }

        #formset {
            margin-top: 20px;
        }

        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h2>Upload Movie</h2>
<div class="container">
    <div class="upload-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                {{form.name}}
            </div>
            <div class="mb-3">
                {{form.date}}
            </div>
            <div class="mb-3">
                <label class="" for="">Poster:</label>
                {{form.poster}}
            </div>
            <div class="mb-3">
                <label for="">File:</label>
                {{form.file}}
            </div>
            <div class="mb-3">
                {{form.type}}
            </div>
            <div class="mb-3">
                {{form.description}}
            </div>
            <div class="mb-3">
                {{form.link}}
            </div>

            <h3>Crew Members</h3>
            {{ formset.management_form }}
            <div id="formset">
                {% for crew_form in formset %}
                <div class="mb-3">
                    {{ crew_form.crew_name }}
                </div>
                <div class="mb-3">
                    {{ crew_form.crew_type }}
                </div>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-warning" id="add-crew">Add Crew Member</button>
            <button type="submit" class="btn btn-danger">Upload</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#add-crew').click(function() {
            var form_idx = $('#id_form-TOTAL_FORMS').val();
            $('#formset').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        });
    });
</script>

<div id="empty_form" style="display:none;">
    {{ formset.empty_form.as_p }}
</div>
</body>
</html>
